<h1>Tiki Taka Toe</h1>

<button (click)="createGame()">
  Create Game
</button>

<div *ngIf="gameId">
  <p>Game ID: {{ gameId }}</p>
</div>

<h2 *ngIf="gameId && !winner">
  Turn: {{ currentTurn || 'X' }}
</h2>

<div *ngIf="winner">
  <h2 *ngIf="winner !== 'draw'">
    Winner: {{ winner }} 🎉
  </h2>

  <h2 *ngIf="winner === 'draw'">
    Draw 🤝
  </h2>
</div>

<!-- BOARD -->
<div *ngIf="board.length">
  <div *ngFor="let row of board; let i = index" style="display: flex;">
    <div
      *ngFor="let cell of row; let j = index"
      style="
        width: 60px;
        height: 60px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        cursor: pointer;
      "
      (click)="!cell.symbol && !isFinished && onCellClick(i, j)"
    >
      <div>{{ cell.symbol }}</div>
      <div style="font-size: 10px; color: gray">
        {{ cell.player }}
      </div>
    </div>
  </div>
</div>