<h1>Tiki Taka Toe</h1>

<button (click)="createGame()">
  New Game
</button>

<div *ngIf="gameId">
  <p>Game ID: {{ gameId }}</p>
</div>

<h2 *ngIf="gameId && !winner">
  Turn: {{ currentTurn || 'X' }}
</h2>

<div *ngIf="winner">
  <h2 *ngIf="winner !== 'draw'">
    Winner: {{ winner }} 🎉
  </h2>

  <h2 *ngIf="winner === 'draw'">
    Draw 🤝
  </h2>
</div>

<div style="display: flex; margin-left: 60px;">
  <div *ngFor="let col of colRules" style="width: 60px; text-align: center;">
    {{ col.value }}
  </div>
</div>
<div *ngIf="board.length">
  <div *ngFor="let row of board; let i = index" style="display: flex;">
    <div style="width: 60px; display:flex; align-items:center; justify-content:center;">
      {{ rowRules[i]?.value }}
    </div>
    <div
      *ngFor="let cell of row; let j = index"
      [ngStyle]="{
        'background-color': isWinningCell(i,j) ? '#90ee90' : 'white'
      }"
      style="
        width: 60px;
        height: 60px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        cursor: pointer;
      "
      (click)="!cell.symbol && !isFinished && onCellClick(i, j)"
    >
      <div>{{ cell.symbol }}</div>
      <div style="font-size: 10px; color: gray">
        {{ cell.player }}
      </div>
    </div>
  </div>
</div>

<div *ngIf="showPicker" class="modal">
  
  <input
    type="text"
    placeholder="Search player..."
    [(ngModel)]="searchTerm"
    (input)="onSearchChange(searchTerm)"
  />

  <div *ngFor="let player of filteredPlayers"
       (click)="selectPlayer(player)">
    {{ player.name }}
  </div>

</div>

<div *ngIf="showInvalidMoveFeedback" style="color:red;">
  Invalid move ❌
</div>